---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../types/pokemon";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results }: PokemonListResponse = await response.json();

  return [
    { params: { name: "bulbasaur" } },
    { params: { name: "charmander" } },
  ];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
---

<Layout title={`${name}`}>
  <h1>{name}</h1>
</Layout>
