---
import PokemonCard from "../components/PokemonCard.astro";
import Layout from "../layouts/Layout.astro";
import type { PokemonListResponse } from "../types/pokemon";

const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
const data: PokemonListResponse = await response.json();
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="underline mb-2">Pokemons 1ra Generation</h1>
		<div class="grid gap-4 grid-cols-6">
			{
				data.results.map(({name, url}) => (
					<PokemonCard name={name} url={url} />
				))
			}
			</div>
  </main>
</Layout>